<a href="https://colab.research.google.com/github/kovyakov/Sketchbook/blob/master/Aula_02_Coleta_da_Tabela_do_Brasileirao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests #Biblioteca para acesso a paginas aleatorias
from bs4 import BeautifulSoup

In [ ]:
headers = {" "} #Header é a informação que o browser envia para o site com os dados do seu pc, para evitar um bloqueio automatico por parte do receptor

url = "https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/" #URL que vamos pesquisar

In [ ]:
page = requests.get(url)

In [ ]:
soup = BeautifulSoup((page.content), "html.parser") #Utiliza o BeautifulSoup pra limpar o HTML, e indica que o conteudo é HTML atraves de 'html.parser'

In [ ]:
#print (soup.prettify())

In [ ]:
tables = soup.find_all("tbody")

In [ ]:
data = []
list_tr = tables[0].find_all("tr") #Argumento 0 pra pegar apenas o primeiro elemento da tabela

for tr in list_tr:
  team = {}
  list_td = tr.find_all("td")
  team['Position'] = list_td[0].text #Conteudo de texto da primeira celula
  team['Name'] = list_td[2].text
  team['Points'] = list_td[4].text
  team['Games'] = list_td[5].text
  team['Wins'] = list_td[6].text
  team['Draw'] = list_td[7].text
  team['Losses'] = list_td[8].text
  team['Goal For'] = list_td[9].text
  team['Goal Against'] = list_td[10].text
  team['Goal Difference'] = list_td[11].text
  team['%'] = list_td[12].text
  data.append(team)

In [ ]:
import pandas as pd

#Remove caractere que dava erro depois do nome do time
df = pd.DataFrame(data)
df['name'] = df.name.apply(lambda n: n.strip().replace(">>", "")) 
df

,position,name,points,Games,Wins,Draw,Losses,Goal For,Goal Against,Goal Difference,%
0,1,Corinthians,9,4,3,0,1,7,4,3,75
1,2,Bragantino,8,4,2,2,0,8,3,5,66
2,3,Atlético-MG,8,4,2,2,0,7,4,3,66
3,4,Coritiba,7,4,2,1,1,9,6,3,58
4,5,São Paulo,7,4,2,1,1,8,5,3,58
5,6,Santos,7,4,2,1,1,6,3,3,58
6,7,Cuiabá,7,4,2,1,1,3,2,1,58
7,8,Internacional,7,4,2,1,1,3,3,0,58
8,9,Avaí,7,4,2,1,1,4,5,-1,58
9,10,América-MG,6,4,2,0,2,5,5,0,50
10,11,Palmeiras,5,4,1,2,1,6,4,2,41
11,12,Flamengo,5,4,1,2,1,4,3,1,41
12,13,Botafogo,5,4,1,2,1,6,6,0,41
13,14,Fluminense,4,4,1,1,2,3,4,-1,33
14,15,Ceará,3,3,1,0,2,4,6,-2,33
15,16,Athletico-PR,3,4,1,0,3,1,6,-5,25
16,17,Atlético Goianiense,3,4,0,3,1,3,7,-4,25
17,18,Goiás,2,4,0,2,2,5,9,-4,16
18,19,Juventude,2,4,0,2,2,4,8,-4,16
19,20,Fortaleza,0,3,0,0,3,1,4,-3,0